body {
    font-family: monospace;
    background-color: #303030;
    margin: 0;
}

div.tm {
    float: left;
}

#sum {
    width: 68%;
    margin: 4px;
    margin-right: 0px;
}

#today {
    width: 29%;
    margin: 4px;
    /*margin-right: 0px;*/
}

.tmnull {
    /*fill: rgba(255, 255, 255, 0.75); */
    fill: none;
    stroke: #888888;
    stroke-width: 0.5px;
}

.tmr {
    /*fill: rgba(255, 255, 255, 0.75); */
    fill: none;
    stroke: #884444;
    stroke-dasharray: 0.25,0.75;
    stroke-width: 0.25px;
}

.tmg {
    /*fill: rgba(255, 255, 255, 0.75); */
    fill: none;
    stroke: #448844;
    stroke-dasharray: 0.25,0.75;
    stroke-width: 0.25px;
}

.tmb {
    /*fill: rgba(255, 255, 255, 0.75); */
    fill: none;
    stroke: #444488;
    stroke-dasharray: 0.25,0.75;
    stroke-width: 0.25px;
}

.tsavgline {
    /*fill: rgba(255, 255, 255, 0.75); */
    fill: none;
    stroke: #ffffff;
    stroke-width: 1px;
}

.tsminarea {
    fill: rgba(128, 128, 255, 0.5);
    stroke: none;
    stroke-width: 1px;
}

.tsmaxarea {
    fill: rgba(255, 128, 128, 0.5);
    stroke: none;
    stroke-width: 1px;
}

.ttarea {
    fill: rgba(128, 255, 255, 0.1);
    stroke: none;
    stroke-width: 1px;
}

.ttline {
    fill: none;
    stroke: #00ffff;
    stroke-width: 1px;
}
